[Unit]
Description=NAS Tunnel Verification Timer
Requires=tunnel-verification.service

[Timer]
# Run every 5 minutes
OnBootSec=2min
OnUnitActiveSec=5min
# Run immediately on system boot
Persistent=true

[Install]
WantedBy=timers.target
